# problem 1 : unique word in sentence

In [1]:
#take sentence as input
sentence  = input("enter sentence : ")
# split the sentence by space
words = sentence.split()
#convert words list into sentence
unique = set(words)
#get length of set that contain unique words
print("number of unique word : ", len(unique))

enter sentence :  python is easy and python is powerful

number of unique word :  5

# problem 2 : highest salary from employee data

In [3]:
#employee data in dictionary format
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#this variable contain highest salary for start compare we set to 0
highest_salary = 0
#this variable contain name 
names = None
#access each name of employee data
for name in employees:
    #compare highest salary variable with employee salary that select by loop
    if employees[name]>highest_salary:
        highest_salary = employees[name]
        names = name 
print(f"highest salary : {names}- {highest_salary}")

highest salary : Ravi- 75000

# Problem 3: Find Maximum and Minimum Values

In [12]:
#list of value
numbers = [45, 22, 89, 10, 66]
# copy of numbers list
numb = numbers.copy()
# sort the list 
numb.sort()
# mini contain minimum value
mini = numb[0]
#maxi contain maximum value
maxi  = numb[-1]
print("list : ", numbers)
print("min :", mini)
print("max : ", maxi)

list :  [45, 22, 89, 10, 66]
min : 10
max :  89

# Problem 4: Count Products Above a Price Threshold

In [13]:
#list of item price
prices = [450, 1200, 899, 1500, 300]
# count initial 0
count = 0
# iterate price in list
for i in prices:
    # compare price with 1000
    if i > 1000:
        count += 1
#print count
print("product above 1000  : " , count)

product above 1000  :  2

# Problem 5: Calculate Attendance Percentage

In [14]:
# attendance in list
attendance = ["P", "P", "A", "P", "P"]
# present initial 0
present = 0
# access attendance using loop
for p in attendance:
    if p == "P":
        present  += 1
# total days 
total_days =  len(attendance)
percentage = (present/total_days)*100
print("Attendance Percentage: ", percentage)

Attendance Percentage:  80.0

# Problem 6: Remove Duplicate Phone Numbers

In [16]:
#phone number list 
phone_numbers = [9876543210, 9123456789, 9876543210]
#convert into set and set contain only unique
unique_phone =  set(phone_numbers)
print("unique phone numbers  : ", unique_phone)

unique phone numbers  :  {9876543210, 9123456789}

# Problem 7: Count Character Frequency

In [2]:
#take string as input
string  = input("enter string  : ")
#empty string
freq = {}
#access each character in string
for s in string:
    # it sets s(item of dict) and its value as0 if occur again then +1 the value 
    freq[s] = freq.get(s,0)+1
print(freq)

enter string  :  pythonp

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Problem 8: Convert List to Tuple

In [3]:
#list of values
lis = [10,20,30]
#convert into tuple
tup = tuple(lis)
#print tuple
print("Tuple  : ", tup)

Tuple  :  (10, 20, 30)

# Problem 9: Check if a Key Exists in a Dictionary

In [18]:
# employee data in dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#make list of employee name
names = list(employees.keys())
#convert all listed name in lower case
for i in range(len(names)):
    names[i]= names[i].lower()
#take name as input 
emp = input("enter employee name : ").lower()
# check name in list
if emp in names:
    print("Employee exists")
else:
    print("Not exists")

enter employee name :

Not exists

# Problem 10: Calculate Average Marks

In [29]:
#list of obtained marks
marks = [20,5,24,15,19]
#list of max marks 
total = [25,25,25,25,25]
# sum initial0
sum_ob,sum_max = 0,0
#loop values 
for i in marks:
    sum_ob += i
for j in total:
    sum_max += j
#average 
avg = (sum_ob/sum_max)*100
print("average marks : ",avg)

average marks :  66.4